h1 {
  color: #EF74CE;
  font-size: 52pt;
  text-align: center;
}

h3, h2 {
  text-align: center;
  font-size: 18pt;
}
p {
  text-align: center;
  font-family:Impact, fantasy;
}

#theImage {
  width: 40%
}
body {
   background-image: url("https://i.pinimg.com/originals/8b/6e/2f/8b6e2ffe4230a5c0412fe16cb2be985f.jpg");
   background-color: #cccccc;
}
