h1 {
  color: #EF74CE;
  font-size: 52pt;
  text-align: center;
}

h3, h2 {
  text-align: center;
  font-size: 18pt;
}
p {
  text-align: center;
  font-family:Impact, fantasy;
}

#theImage {
  width: 40%
}
body {
   background-image: url("https://78.media.tumblr.com/34da2754f7d227433c9c4149d5ce5a64/tumblr_o2h5teUqb31qcjf72o1_500.gif");
   background-color: #cccccc;
}
