h1 {
  color: #EF74CE;
  font-size: 52pt;
  text-align: center;
}

h3, h2 {
  text-align: center;
  font-size: 18pt;
}
p {
  text-align: center;
  font-family:Impact, fantasy;
}

#theImage {
  width: 40%
}
body {
   background-image: url("https://3.bp.blogspot.com/-99wdOUUZYek/WYtbr4cQtQI/AAAAAAAABTw/RHCdRL3Zw-EBNA3pzu9L4q6xztQNwEUBgCLcBGAs/s1600/PinkWallpaper.png");
   background-color: #cccccc;
}
